@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.All-App {
  height: 100vh;
  width: 100vw;  
}

.background-image {
  background-image: url('../src/assets/background.jpg.avif'); /* Remplacez par le chemin correct */
  background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément parent */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.App-logo {
  justify-content: flex-start;
  height: 120px;
  padding-left: 40px;
  padding-top: 10px;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Pour centrer le contenu verticalement */
  padding-bottom: -calc(100vh - 120px); /* Pour que le header ne prenne pas de place dans le flux */
}

.menu {
  align-items: center;
  justify-content: center;
  color: rgb(25, 25, 33);
  margin-right: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  margin: 0 10px;
}

a {
  text-decoration: none; /* Supprimer le soulignement des liens */
  color: black; /* Couleur du texte des liens (à ajuster selon vos préférences) */
}

.titre {
  text-align: center;
  justify-content: center;
  /* mettre les mot Health et Care en violet */
  font-family: 'Belanosima', sans-serif;
  font-size: 50px;
  color: rgb(25, 25, 33);
}

.chapeau {
  text-align: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: rgb(25, 25, 33);
  margin-top: 20px;
}

.impDoc {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8%;
}

.listeAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.paddingmerdique {
  padding-left: 100px;
  padding-right: 100px;
}

.formMap {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.formulaire {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.profilDoc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
}

.experience {
  background-color: rgb(187, 187, 187);
  width: 250px;
  align-items: center;
}