@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.All-App {
  height: 100vh;
  width: 100vw; 
  z-index: 3;
}

.background-image {
  background-image: url('../src/assets/fond36000.png'); /* Remplacez par le chemin correct */
  background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément parent */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  z-index: 3;
}

.background-image2 {
  background-image: url('../src/assets/backAbout.png'); /* Remplacez par le chemin correct */
  height: 100vh;
  margin-top: -90px;
  padding-top: 90px;
  z-index: 4;
}

.App-logo {
  height: 40px;
  width: 200px;
  position: fixed;
  padding-left: 40px;
  margin-right: calc(75vw);
  margin-top: 20px;
  z-index: 3;
}

#bbouton {
  position: fixed;
  margin-left: calc(75vw);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.menu {
  display: flex;
  justify-content:first baseline;
  color: rgb(25, 25, 33);
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  /* mettre une police plus foncée */
  font-family: 'system-ui', sans-serif;
  display: inline;
  margin: 0 30px;
}

a {
  text-decoration: none; /* Supprimer le soulignement des liens */
  color: black; /* Couleur du texte des liens (à ajuster selon vos préférences) */
}

.titre {
  text-align: center;
  justify-content: center;
  /* mettre les mot Health et Care en violet */
  font-family: 'Stencil Std', sans-serif;
  font-size: 50px;
  font-weight : bold;
  color: rgb(25, 25, 33);
}

.chapeau {
  text-align: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: rgb(25, 25, 33);
  margin-top: 20px;
}

.impDoc {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3%;
}

.listeAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.paddingmerdique {
  padding-left: 100px;
  padding-right: 100px;
}

.formMap {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.formulaire {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.profilDoc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
}

.experience {
  background-color: rgb(187, 187, 187);
  width: 250px;
  align-items: center;
}

.doctor-list-container {
  max-height: calc(85vh - 80px); /* Hauteur maximale pour la liste, ajustez-la en fonction de vos besoins */
  overflow-y: auto; /* Activer la barre de défilement verticale si nécessaire */
  border: 1px solid #ccc; /* Ajoutez des styles de bordure si nécessaire */
  padding: 60px; /* Ajoutez un espacement interne si nécessaire */
}

.doctor-profile {
  border: 0px solid #ccc; /* Ajoutez une bordure autour de chaque profil */
  border-radius: 0px; /* Ajoutez des coins arrondis aux profils */
  margin-bottom: 10px; /* Ajoutez une marge en bas pour séparer les profils */
  padding: 2px; /* Ajoutez un espacement interne aux profils */
  background-color: #fff; /* Fond blanc pour chaque profil */
}

.doctor-image {
  width: 50px; /* Largeur souhaitée */
  height: 50px; /* Hauteur souhaitée */
  object-fit: cover; /* Ajustement de l'image pour remplir la zone définie */
  border: 1px solid #ccc; /* Bordure autour de l'image si nécessaire */
  border-radius: 50%; /* Coins arrondis pour créer une image circulaire si nécessaire */
  flex: 1;
}


.maps {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.doctor-list-container {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  border: 0px solid #ccc;
  padding: 40px;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  z-index: 2;
}

.doctor-details{
  flex: 2;
}

#large_size {
  background-color: rgb(255, 255, 255);
  padding: 15px;
}
